#section-progress {
  grid-area: progress;

  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;

  & .progress__title {
    margin-bottom: 0.5rem;
    font-weight: normal;
    color: var(--color-gray-500);

    & span {
      color: var(--color-gray-600);
    }
  }

  & .progress__infos {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;

    & .progress__bar {
      height: 0.5rem;
      border-radius: 1rem;
      background-color: var(--color-gray-300);

      & .progress__bar__content {
        width: 50%;
        height: 100%;
        border-radius: 1rem;
        background: linear-gradient(
          90deg,
          rgba(45, 170, 110, 1) 0%,
          rgba(45, 170, 170, 1) 33%,
          rgba(133, 108, 207, 1) 66%,
          rgba(214, 88, 179, 1) 100%
        );
      }
    }
  }

  & .progress__symbol {
    width: 3.5rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color-gray-200);

    & img {
      width: 1.5rem;
      height: auto;
    }
  }
}

@media (width >= 31rem) {
  #section-progress {
    & .progress__symbol {
      & img {
        width: 2rem;
        height: auto;
      }
    }
  }
}
